<ruleset name="automatic_updates">
  <description>Must ignore vendor folder, but otherwise default Drupal code standards.</description>
  <file>.</file>
  <exclude-pattern>*/vendor/*$</exclude-pattern>
  <arg name="extensions" value="php,module,inc,install,test,profile,theme,css,info,txt,md"/>
  <rule ref="Drupal"/>
</ruleset>
